In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import psycopg2

con_str = "postgresql+psycopg2://postgres:1234@192.168.1.101:5432/postgres"

In [3]:
def read_google_sheets(sheet_data):
    for df_name, sheet_id in sheet_data:
        sheet_url = f"https://docs.google.com/spreadsheets/d/1apQ71-hq5A25IPiJHT6C_4JcEFcIncw3pDnXUrtJqMk/export?format=csv&gid={sheet_id}"
        globals()[df_name] = pd.read_csv(sheet_url)

In [4]:
sheet_data = [
    ("data1", "1130261676"),
    ("data2", "1718669075"),
    ("data3", "1773905508")
]

read_google_sheets(sheet_data)

In [5]:
data1.head()

,เขตการศึกษา,จังหวัด,สายการศึกษา,ระดับชั้น,คำนำหน้า,ชื่อสถานศึกษา,ปราถนาศึกษาต่อ,กิจกรรมบำเพ็ญประโยชน์,อาชีพที่ผู้ขอรับทุนใฝ่ฝัน,จะนำทุนไปทำอะไร
0,เขตการศึกษา 5,ราชบุรี,ปริญญาตรี,ปี 1,วิทยาลัย,พยาบาลบรมราชชนนีจักรีรัช,ปริญญาตรี,เคยทำ,พยาบาล,วัสดุ อุปกรณ์ การศึกษา เช่น หนังสือ คอมพิวเตอร...
1,เขตการศึกษา 1,ปทุมธานี,สายสามัญ,ม.3,โรงเรียน,สวนกุหลาบวิทยาลัย รังสิต,ปริญญาตรี,ไม่เคยทำ,-,-
2,เขตการศึกษา 5,กาญจนบุรี,สายสามัญ,ม.4,โรงเรียน,ไทรโยคน้อยวิทยา,ปริญญาตรี,เคยทำ,ทันตแพทย์,วัสดุ อุปกรณ์ การศึกษา เช่น หนังสือ คอมพิวเตอร...
3,เขตการศึกษา 1,ปทุมธานี,สายสามัญ,ป.5,โรงเรียน,ธัญวิทย์,ปริญญาโท,ไม่เคยทำ,-,-
4,เขตการศึกษา 5,กาญจนบุรี,สายสามัญ,ม.3,โรงเรียน,ไทรโยคน้อยวิทยา,ปริญญาตรี,เคยทำ,นักแสดง,วัสดุ อุปกรณ์ การศึกษา เช่น หนังสือ คอมพิวเตอร...

In [6]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.16.1)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.11.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [7]:
%load_ext sql

In [8]:
# PostgreSQL database connection information
host = '192.168.1.101'
port = '5432'
dbname = 'postgres'
user = 'postgres'
pwd = '1234'

In [9]:
def upload_data_to_db(data):
    for df_name, table_name in data:
        df = globals()[df_name]
        df.to_sql(table_name, con_str, if_exists='replace', index=False)

In [10]:
data = [
     ("data1", "dataset1"),
     ("data2", "dateset2"),
     ("data3", "dataset3")
]

In [11]:
upload_data_to_db(data)